In [1]:
import os
import pandas as pd
import folium

In [2]:
df = pd.read_csv(os.path.join('data','uscounties.csv'))

In [3]:
df.head(10)

      County  population        lat        lon
0    Alachua      217025  29.673347 -82.338863
1      Baker       11751  30.290740 -82.255540
2        Bay      211984  30.240175 -85.650980
3   Bradford        7179  29.922814 -82.171429
4    Brevard      744528  28.255725 -80.677403
5    Broward     1892496  26.145744 -80.204360
6    Calhoun        5255  30.416075 -85.162575
7  Charlotte       18796  26.927731 -82.127685
8     Citrus       11777  28.847425 -82.459213
9       Clay       24351  30.048658 -81.831967

In [4]:
import json

us_counties = os.path.join('data', 'florida_counties.geojson')

In [5]:
# Make an empty map
attr = ('&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>')
tiles = 'https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/voyager/{z}/{x}/{y}{r}.png'

m = folium.Map([27.5, -85], zoom_start=7.4, tiles=tiles, attr=attr, control_scale=True)

folium.GeoJson(
    us_counties,
    name = 'Name',
    style_function = lambda feature: {
        'color': 'black',
        'weight': 1,
        'fillOpacity': 0,
        },
    highlight_function = lambda x: {'weight':1, 'color':'black'},
    tooltip=folium.GeoJsonTooltip(fields=['county'],
                                  aliases=['County:'],
                                  style="font-family: calibri-body;",
                                  labels=True, 
                                  sticky=True
                             )
).add_to(m)

m.save(os.path.join('results', 'Florida Counties.html'))

In [6]:
for i in range(len(df)):
    a = df.iloc[i]['County']
    b = print(f"<h4>{a}</h4>")

<h4>Alachua</h4>
<h4>Baker</h4>
<h4>Bay</h4>
<h4>Bradford</h4>
<h4>Brevard</h4>
<h4>Broward</h4>
<h4>Calhoun</h4>
<h4>Charlotte</h4>
<h4>Citrus</h4>
<h4>Clay</h4>
<h4>Collier</h4>
<h4>Columbia</h4>
<h4>DeSoto</h4>
<h4>Dixie</h4>
<h4>Duval</h4>
<h4>Escambia</h4>
<h4>Flagler</h4>
<h4>Franklin</h4>
<h4>Gadsden</h4>
<h4>Gilchrist</h4>
<h4>Glades</h4>
<h4>Gulf</h4>
<h4>Hamilton</h4>
<h4>Hardee</h4>
<h4>Hendry</h4>
<h4>Hernando</h4>
<h4>Highlands</h4>
<h4>Hillsborough</h4>
<h4>Holmes</h4>
<h4>Indian River</h4>
<h4>Jackson</h4>
<h4>Jefferson</h4>
<h4>Lafayette</h4>
<h4>Lake</h4>
<h4>Lee</h4>
<h4>Leon</h4>
<h4>Levy</h4>
<h4>Liberty</h4>
<h4>Madison</h4>
<h4>Manatee</h4>
<h4>Marion</h4>
<h4>Martin</h4>
<h4>Miami-Dade</h4>
<h4>Monroe</h4>
<h4>Nassau</h4>
<h4>Okaloosa</h4>
<h4>Okeechobee</h4>
<h4>Orange</h4>
<h4>Osceola</h4>
<h4>Palm Beach</h4>
<h4>Pasco</h4>
<h4>Pinellas</h4>
<h4>Polk</h4>
<h4>Putnam</h4>
<h4>Santa Rosa</h4>
<h4>Sarasota</h4>
<h4>Seminole</h4>
<h4>St. Johns</h4>
<h4>St. Lucie</h4>
<h4>Sumter</h4>
<h4>Suwannee</h4>
<h4>Taylor</h4>
<h4>Union</h4>
<h4>Volusia</h4>
<h4>Wakulla</h4>
<h4>Walton</h4>
<h4>Washington</h4>

In [7]:
# Make a data frame with dots to show on the map
ia_loc = pd.DataFrame({
'lat':[25.7617, 27.7676, 30.4, 28.53],
'lon':[-80.1918, -82.6403, -84.3, -81.3812],
'name':['John Smith (Miami, Broward)','Romario Jashari (St. Pete)','Jane Doe (Tallahassee)', 'Jane Smith (Orlando)']
})
ia_loc

       lat      lon                         name
0  25.7617 -80.1918  John Smith (Miami, Broward)
1  27.7676 -82.6403   Romario Jashari (St. Pete)
2  30.4000 -84.3000       Jane Doe (Tallahassee)
3  28.5300 -81.3812         Jane Smith (Orlando)

In [8]:
# https://gist.github.com/jtbaker/c9b94010a160bd2120f5b3dde082ddf1

In [9]:
for i in range(len(ia_loc)):
    name = str(ia_loc.iloc[i]['name'])
    a = name.split()[:2]
    name_str = " ".join(a)
    b = name.split()[2:]
    count = " ".join(b)
    pop = (f'<b>{name_str}</b> | <code>{count}</code>')
    
    folium.Marker([ia_loc.iloc[i]['lat'], ia_loc.iloc[i]['lon']], popup=pop).add_to(m)

m.save(os.path.join('results', 'Florida Counties.html'))

In [10]:
for i in range(len(ia_loc)):
    name = str(ia_loc.iloc[i]['name'])
    a = name.split()[:2]
    name_str = " ".join(a)
    b = name.split()[2:]
    count = " ".join(b)
    pop = (f'<b>{name_str}</b>')
    print(count)

(Miami, Broward)
(St. Pete)
(Tallahassee)
(Orlando)